body {
    background-color: #30995A;
    color: white;
    padding: 0;
    margin: 0;
}

.cabecalho {
    height: 100px;
    background-color: #264e36;
    color: white;
    font-family: "Kameron";
    font-size: 56px;
}