body {
    background-color: #30995A;
    padding: 0;
    margin: 0;
}

.cabecalho {
    height: 100px;
    background-color: #264e36;
    color: white;
    font-family: "Kameron";
    font-size: 74px;
    text-align: center;
    line-height: 100px;
}

.subtexto {
    color: white;
    font-family: "Kameron";
    font-size: 32px;
    text-align: center;
    margin: 25px;
}